
.calendar-container {
  max-width: 800px;
}

.calendar {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
  background-color: #f6fafc;
  border-radius: 10px;
}

.date_block th,
.time_slot {
  background-color: #f6fafc;
  border: none;
  font-size: 12px;
  color: #6C7074;
  font-weight: 600;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}
.reserv_day {
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
}

.selected {
  box-shadow: 0 4px 16px 0 #00000033;
  background-image: url("../../assets/img/Group 215.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

td {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

td button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.show-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reserved {
  background-image: url("../../assets/img/Subtract.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.calendar-container-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .calendar-container {
    display: none;
  }
  .calendar-container-mobile {
    display: block;
    margin-bottom: 8em;
  }
  .selected {
    background-color: #FFBF13;
    color: #FFFFFF;
    background-image: none;
  }
  .reserved {
    color: #E4E9EE;
  }
}