
.calendar-container {
  max-width: 800px;
  margin: 0 auto;
}

.calendar {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
  background-color: #f6fafc;
  border-radius: 10px;
}

.date_block th {
  background-color: #f6fafc;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}
.time_slot {
  border: none;
  background-color: #f6fafc;

}
.reserv_day {
  cursor: pointer;
  background-color: #FFFFFF;
  border: none;
}

.selected {
  background-color: #ffc107;
}

td {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

td button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.show-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}