table.subjtable {
    margin-left: 27px;
    margin-top: 25px;
    border-collapse: collapse;
    border-style: hidden;
    border-top: none;
    border-left: none;
    border-spacing: 0;
    height: auto;
  }
  table.subjtable,
  table.subjtable td,
  table.subjtable th {
    border: 1px solid #595959;
    border-bottom: none;
    border-left: none;
    
  }
  table.subjtable:last-child {
    border-right: none;
  }
  table.subjtable td,
  table.subjtable th {
    min-height: 35px;
    padding: 3px;
    width: 129px;
    height: 35px;
  }
  table.subjtable th {
    background: #347c99;
    color: #fff;
    font-weight: normal;
  }
  .stud_block {
    width: 126px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 2px;
  }
  .stud_name {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #2d2d2d;
    margin-top: 13px;
  }

  .stud_time {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #686868;
    margin-top: -9px;
  }