.stud_head {
  width: 967px;
  height: 690px;
  margin-left: 353px;
  margin-top: 93px;
  background-color: #ffff;
  display: flex;
  border-radius: 25px;
  color: #93979b;
}
.studs {
  width: 103px;
  height: 31px;
  margin-left: 25px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 26px;
  line-height: 31.2px;
}
.radio_txt {
  margin-left: 8px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
}
#exclusive {
  margin-left: 196px;
}
#groups {
  margin-left: 25px;
}
.stud_list {
  display: flex;
  // justify-content: center;
  position: absolute;
  margin-top: 106px;
  margin-left: 25px;
}
.stud_card {
  width: 172px;
  height: 270px;
  background-color: #fcfcfc;
  border-radius: 25px;
  margin-left: 14px;
  text-align: center;
}
.stud_txt {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 19px;
  color: black;
}
.stud_btn{
  width: 142px;
height: 32px;
background-color: #FFBF13;
border-radius: 10px;
border-top: 0px;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
}
.stud_btn_txt{
  color: white;
  margin-top: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.4px;
  text-align: center;
}
.table {
  width: 90%;
  border: 1px solid grey;
  border-collapse: collapse;
  border-style: hidden;
  border-top: none;
  border-left: none;
  margin-left: 63px;
  margin-top: 53px;
  padding: 0px 5px;
}

table td {
  border-left: 1px solid grey;
  // padding: 3px;
  width: 74px;
  height: 34px;
  text-align: center;
  background-color: #ececec40;
}
table th {
  border: none;
}
.date_res {
  font-size: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #6c7074;
}
.time_res {
  margin-left: 15px;
  margin-top: 35px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #6c7074;
  position: absolute;
}
.mt {
  margin-top: 20px;
}
.reser_teach {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  text-align: center;

  color: #93979b;
}
.reser_date {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #93979b;
}
.in_table {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  color: #ffbf13;
}


