$main-color: #F6FAFC;
$secondary-color: #FFFFFF;
$text-color: #6c7074;
$link-color: #93979b;
$highlight-color: #ffbf13;
$button-bg-color: #ffffff;
$button-text-color: #fabb13;

$mobile-breakpoint: 460px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


.reserve_block_main {
  width: 75%;
  float: left;
  background-color: $main-color;

  @media screen and (max-width: $mobile-breakpoint) {
    width: 100%;
  }
}

.reser_block {
  width: 100%;
  height: 90vh;
  border-radius: 25px;
  background-color: $secondary-color;
}

.reser_block_mobile {
  display: none;
}

.head_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 2em 0 2em;
  padding: 1em 0;
}

.back_btn {
  font-size: 14px;
  text-align: center;
  color: #93979B;
  text-decoration: none;
}
.back_btn:hover {
  color: #93979B;
}

.reser_table {
  width: 69%;
  border-radius: 25px;
  background-color: $main-color;
  float: left;
  padding: 20px;
  margin-left: 1em;

  @media screen and (max-width: $mobile-breakpoint) {
    width: 100%;
    margin-left: 0;
    float: none;
    margin-top: 1em;
    margin-bottom: 6em;
  }
}
.totalCost_txt {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #8C8C8C;


  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
.txt {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: $text-color;


  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.txt_schedule {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #6C7074;
}
.pay_block {
  width: 25%;
  float: right;
  margin-left: 25px;
  margin-right: 1em;
  margin-bottom: 0;
  border-radius: 25px;
  padding: 15px;
  background-color: $main-color;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.backToTeacher_block {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.backToTeacher_block img {
  margin-right: 0.4em;
}
.subj_costet {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #2d2d2d;

}

.cost_block {
  margin-bottom: 1em;
}

.costet {
  margin: 0;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #393939;
}
.week_forward_block {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 0.5em;
}
.week_forward_block button {
  background: none;
  border: 0;
  padding: 0;
}
.minus_btn {
  margin-right: 1em;
}

.plus_btn {
   margin-left: 1em;
 }
.week_forward {
  font-size: 24px;
  color: #6C7074;
}

.previous_btn {
  margin-right: 0.5em;
}
.next_btn {
  margin-left: 0.5em;
}

.for_pay {
  width: 100%;
  height: auto;
  background: #FFA624;
  border-radius: 25px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.pay_btn {
  width: 80%;
  padding: 4px;
  background: $secondary-color;
  box-shadow: 0 5px 64px 8px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $button-text-color;
  border: none;
}
.choose_study_days_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.choose_study_days_txt {
  font-size: 20px;
  font-weight: 600;
  color: #6C7074;
}
.reser_card {
  width: 100%;
  height: 160px;
  background-color: #dff4ff;
  border-radius: 15px;
  padding: 10px;
  margin-top: 15px;
}

.reser_week {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 19.2px;
  color: #6c7074;
}


.reser_day {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $text-color;
}

.reser_date {
  font-size: 20px;
  color: #93979B;
}

.reser_times_block {
  display: flex;
  flex-wrap: wrap;
}

.reser_times {
  width: 29%;
  height: 40px;
  font-size: 12px;
  background: $button-bg-color;
  border: 1px solid #e4e9ee;
  border-radius: 17.5px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  color: $text-color;
  margin-left: 13px;
  margin-top: 5px;
}

.reser_teach {
  font-weight: 600;
  font-size: 26px;

  color: #535353;
}

.no_subj {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
  text-align: center;
  margin-top: 25px;
}

.pay_block2 {
  display: none;
  width: 100%;
  height: 80px;
  background-color: $highlight-color;
  justify-content: space-around;
  align-items: center;
}

.f_pr {
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin: 5px;
}

.s_pr {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.pay_btn2 {
  width: 181px;
  height: 50px;
  background: $button-bg-color;
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $button-text-color;
  border: none;
}

.choose_days {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.choose_days div {
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  width: 33%;
}


@media screen and (max-width: $tablet-breakpoint) {
  .reserve_block_main {
    width: 100%;
    padding: 1em;
  }
  .reser_block {
    display: none;
  }
  .reser_block_mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    padding: 1.5em;
    background-color: white;
  }
  .reser_card {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 2em;
    width: 100%;
  }
  .cost_block {
    margin-bottom: 0;
  }
  .txt {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .reser_table {
    width: 100%;
    margin: 1em 0;
  }

  .pay_block {
    width: 100%;
    margin-left: 0;
    float: none;
    margin-top: 1em;
    margin-bottom: 6em;
  }
  .pay_block2 {
    position: fixed;
    bottom: 0;
    margin-left: -15px;
  }
  .for_pay {
    position: fixed;
    bottom: 0;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .pay_btn {
    width: auto;
    height: auto;
    padding: 15px 20px;
  }
  .subj_costet {
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
    color: #2D2D2D;
  }
  .txt_schedule {
    font-size: 12px;
    margin-bottom: 0;
  }
  .reser_times_block {
    width: 100%;
    margin-left: 0;
  }
  .reser_times {
    width: 31%;
    margin-left: 5px;
  }
  .choose_days {
    display: flex;
    flex-direction: column;
  }
  .choose_days div {
    width: 100%;
  }
  .head_block {
    margin: 0;
    padding: 0;
  }
  .reser_teach {
    margin: 0;
    color: #93979B;
    font-size: 20px;
  }
  .week_forward_block {
    margin: 0 auto;
  }
}

@media screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .reserve_block_main {
    width: 100%;
  }
  .reser_table {
    width: 70%;
  }
  .pay_block {
    width: 25%;
    display: flex;
    margin-left: 0;
  }
  .txt {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .subj_costet {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    margin-top: 10px;
    color: $text-color;
  }
  .costet {
    margin-bottom: 0.7em;
  }
  .pay_block2 {
    display: flex;
  }
}
