.reserve_block_main {
  width: 70%;
  float: left;
  background-color: #F6FAFC;
}

.reser_block {
  width: 100%;
  height: 90vh;
  border-radius: 25px;
  background-color: #FFFFFF;
}

.head_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 2em 0 2em;
  padding: 1em 0;
}

.back_btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #93979b;
  text-decoration: none;
}

.reser_table {
  width: 65%;
  border-radius: 25px;
  background-color: #f6fafc;
  float: left;
  padding: 20px;
  margin-left: 1em;
}

.txt {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #6c7074;
}
.txt_schedule {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #6C7074;
}
.pay_block {
  width: 25%;
  float: right;
  margin-left: 25px;
  margin-right: 1em;
  border-radius: 25px;
  padding: 15px;
  background-color: #f6fafc;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.pay_subj {
  width: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0.6em 0;
}

.subj_costet {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2d2d2d;
  margin: 0;
}

.cost_block {
  margin-bottom: 1em;
}

.costet {
  margin: 0;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.for_pay {
  width: 100%;
  height: auto;
  background: #ffbf13;
  border-radius: 25px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.pay_btn {
  width: 80%;
  height: 38px;
  background: #ffffff;
  box-shadow: 0 5px 64px 8px rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fabb13;
  border: none;
}

.reser_card {
  width: 100%;
  height: 160px;
  background-color: #dff4ff;
  border-radius: 15px;
  padding: 10px;
  display: none;
  margin-top: 15px;
}

.reser_week {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 19.2px;
  color: #6c7074;
}

.reser_day {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #6c7074;
}

.reser_date {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.reser_times_block {
  display: flex;
  flex-wrap: wrap;
}

.reser_times {
  width: 29%;
  height: 40px;
  font-size: 12px;
  background: #ffffff;
  border: 1px solid #e4e9ee;
  border-radius: 17.5px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  color: #2d2d2d;
  margin-left: 13px;
  margin-top: 5px;
}

.no_subj {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
  text-align: center;
  margin-top: 25px;
}

.pay_block2 {
  display: none;
  width: 100%;
  height: 80px;
  background-color: #ffbf14;
  justify-content: space-around;
  align-items: center;
}

.f_pr {
  font-weight: 500;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin: 5px;
}

.s_pr {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.pay_btn2 {
  width: 181px;
  height: 50px;
  background: #ffffff;
  border-radius: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fabb13;
  border: none;
}

@media screen and (max-width: 820px) {
  .cost_block {
    margin-bottom: 0;
  }
  .txt {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .reser_block {
    height: auto;
  }
  .reser_table {
    width: 100%;
  }
  .reser_card {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
  }
  .pay_block {
    width: 100%;
    margin-left: 0;
    float: none;
    margin-top: 1em;
    margin-bottom: 6em;
  }
  .pay_block2 {
    position: fixed;
    bottom: 0;
    margin-left: -15px;
  }
  .for_pay {
    position: fixed;
    bottom: 0;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .pay_btn {
    width: auto;
    height: auto;
    padding: 15px 20px;
  }
  .back_btn {
    display: none;
  }
  .subj_costet {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    color: #2d2d2d;
  }
  .txt_schedule {
    font-size: 14px;
  }
  .reser_times_block {
    width: 100%;
    margin-left: 0;
  }
  .reser_times {
    width: 31%;
    margin-left: 5px;
  }
  .choose_days {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 481px) and (max-width: 820px) {
  .reser_table {
    width: 100%;
  }
  .pay_block {
    width: 100%;
    display: flex;
    margin-left: 0;
    margin-top: 15px;
    padding-bottom: 7em;
  }
  .txt {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .subj_costet {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 14px;
    margin-top: 10px;
    color: #2d2d2d;
  }
  .costet {
    margin-bottom: 0.7em;
  }
  .pay_block2 {
    display: flex;
  }
}

@media screen and (min-width: 821px) and (max-width: 1024px) {
  .reser_table {
    width: 70%;
  }
  .pay_block {
    width: 25%;
  }

}
