.teach_list_block {
  float: left;
  width: 60%;
  border-radius: 25px;
  background-color: #ffff;
  padding: 15px;
}
.drop_block {
  width: 100%;
  background-color: #f6fafc;
  padding: 15px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.drop {
  width: 30%;
  height: 35px;
  background-color: #ffffff;
  border-radius: 17.5px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  padding-left: 12px;
  border: none;
}
.list_block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f6fafc;
  border-radius: 25px;
  padding: 25px;
  margin-top: 25px;
}
.teach_list {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.teach_img {
  width: 169px;
  height: 205px;
}
.teach_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.teach_name {
  margin-top: 110px;
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
.teach_about {
  position: absolute;
  margin-top: 130px;
  width: 165px;
  font-weight: 100;
  font-size: 1px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}
.teach_subj {
  position: absolute;
  margin-top: 190px;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  font-size: 16px;
  color: white;
  padding: 2px 2px;
}
.teach_btn {
  width: 142px;
  height: 32px;
  margin-top: 25px;
  background-color: #ffbf13;
  border-radius: 25px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
.teach_btn_txt {
  color: white;
  margin-top: 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.teach_txt {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #93979b;
}

@media (min-width: 310px) and (max-width: 480px) {
  .teach_img {
    width: 250px;
    height: 303px;
  }
  .teach_list_block {
    width: 100%;
  }
  .drop_block {
    width: 100%;
    flex-direction: column;
  }
  .drop {
    width: 100%;
    height: 50px;
    margin-top: 10px;
  }
  .list_block {
    flex-direction: column;
  }
  .teach_list {
    margin-top: 25px;
  }
  .teach_card{
    justify-content: center;
  }
  .teach_name{
    margin-bottom: 30px;
  }
  .teach_about{
    width: 65%;
    margin-bottom: -20px;
    // margin-bottom: 50px;
  }
  .teach_btn{
    width: 65%;
  }
  .teach_subj{
    margin-bottom: -50px;
  }
  .pad{
    padding: 15px;
  }
}
@media (min-width: 481px) and (max-width: 670px) {
  .teach_list_block{
    width: 100%;
  }
  .list_block{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .teach_list{
    width: 45%;
  }
}
@media (min-width: 671px) and (max-width: 700px) {
  .teach_list_block{
    width: 100%;
  }
  .list_block{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .teach_list{
    width: 26%;
  }
}
@media (min-width: 701px) and (max-width: 820px) {
  .teach_list_block{
    width: 100%;
  }
  .list_block{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .teach_list{
    width: 30%;
  }
}
@media (min-width: 821px) and (max-width: 1024px) {
  .teach_list_block{
    width: 100%;
  }
  .list_block{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .teach_list{
    width: 25%;
  }
}
