@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.footer { 
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 0px 25px 25px;
  background: #fff;
}
.footer__container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__name {
  color: #111;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__link_item_margin{ 
    margin: 0 3.2rem;
} 
.footer__card_img{ 
    margin: 0 2rem;
}
.footer__link_item { 
    text-decoration: none; 
    cursor: pointer;
  color: #111;
  font-family: "Fira Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__card {
  display: flex;
  justify-content: center;
  align-items: center;
}
 
@media screen and (max-width: 1200px){
      .footer__container {
        width: 95%;
      } 
      .footer__name {
        font-size: 13px;
      }
      .footer__link_item_margin{ 
          margin: 0 2.5rem;
      } 
      .footer__card_img{ 
          margin: 0 1.5rem;
      }
      .footer__link_item { 

        font-size: 13px;
      }
      
      
}
@media screen and (max-width: 880px){ 
    .footer{ 
        height: 100%;
    }
      .footer__container {  
        padding: 23px 0;
        align-items: center; 
        flex-direction: column;
        width: 95%;
      }
      .footer__name {
        font-size: 13px; 
        margin-bottom: .5rem;
      }
      .footer__link_item{ 
          margin: .5rem 0;
      } 
      .footer__card_img{ 
          margin: 0 1.5rem;
      }
      .footer__link_item { 

        font-size: 13px;
      }
      .footer__links {
        align-items: center; 
        flex-direction: column
      }
      
}