$mobile-breakpoint: 460px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

.timetable_block {
  margin-top: 25px;
  width: 70%;
  border-radius: 25px;
  float: left;
}

.subjtable {
  width: 100%;
  height: 75vh;
  border: 1px hidden grey;
  border-collapse: collapse;
}

table td {
  border-left: 1px solid grey;
  width: 100%;
  height: 34px;
  text-align: center;
  background-color: #ececec40;
}

table tr {
  border: none;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 25px 25px 0 0;
}

.teach_txt {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  color: #93979b;
  margin: 0;
}

.date_txt {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #93979b;
  margin: 0;
}

table td {
  border-left: 1px solid grey;
  padding: 5px;
  width: 100px;
  height: 34px;
  text-align: center;
  background-color: #ececec40;
}

table th {
  border: none;
}

.stud_block {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.stud_teach {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #2d2d2d;
  margin-top: 13px;
}

.stud_time {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #686868;
  margin-top: -9px;
}

.cards_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.cards {
  display: none;
  width: 100%;
  border: 1px solid #93979b;
  border-radius: 15px;
  margin-top: 15px;
}

.cards_head {
  background: #93979b;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: baseline;
  padding: 13px 0 0 5px;
}

.weekday {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 0;
  text-align: center;
  color: #ffffff;
  margin-left: 10px;
}

.dayday {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  margin-left: 0.5em;
}

.cards_inner {
  margin: 5px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 15px 0;
}

.cards_btn {
  width: 80%;
  min-height: 38px;
  background: #9fffff;
  border-radius: 19px;
  border: none;
}

.card_stud {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2D2D2D;
}
.to__meeting {
  font-size: 12px;
  text-decoration: none;
}
.date_interval_block {
  display: flex;
  flex-direction: row;
}
.timetable__title_span {
  cursor: pointer;
  color: #93979B;
  font-weight: 600;
  font-size: 20px;
}
.timetable__title {
  color: #93979B;
  font-weight: 600;
  font-size: 20px;
}
@media screen and (max-width: $tablet-breakpoint) {
  .subjtable {
    display: none;
  }
  .time {
    padding: 0;
    justify-content: space-between;
  }
  .cards {
    display: block;
  }
  .cards_block {
    flex-direction: column;
    padding: 0 15px 0 15px
  }
  .timetable_block {
    width: 100%;
    display: contents;
  }
  .timetable {
    display: none;
  }
  .timetable__time {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .teach_txt {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-left: 25px;
  }
  .date_txt {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
    margin-right: 0.5em;
  }
  .card_stud {
    font-size: 18px;
  }
  .cards_btn {
    font-size: 15px;
  }
}

@media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .subjtable {
    display: none;
  }
  .timetable_block {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cards {
    display: block;
    width: 45%;
    margin-left: 15px;
  }
  .timetable {
    display: none;
  }
  .timetable__time {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .teach_txt {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .date_txt {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .time {

  }
  .card_stud {
    font-size: 18px;
  }
  .cards_btn {
    font-size: 15px;
  }
}

