.header {
    height: 50px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.desktop__logo {
    width: 142px;
    height: 38px;
    font-weight: 400;
    font-size: 32px;
    line-height: 37.6px;
    color: black;
    text-decoration: none;
}
.mobile__logo {
    display: none;
}
.logo:hover{
    color: #FFBF13;
    transition: 0.4s;
    cursor: pointer;
}
.btn{
    width: 190px;
    height: 19px;
    margin-top: 25px;
    margin-right: 120px;
}
.btn-logo{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}
.studheader{
    display: none;
}
.teachheader{
    display: none;
}
@media (min-width: 310px) and (max-width: 820px) {
    .studheader{
        display: block;
    }
    .teachheader{
        display: block;
    }
    .desktop__logo {
        display: none;
    }
    .mobile__logo {
        display: block;
    }
}