.sideblock{
    width: 30%;
    float: left;
    margin-top: 150px;
   
}
.about-me{
    font-weight: 600;
    font-size: 18px;
    line-height: 21.6px;
    cursor: pointer;
    text-decoration: none;
    color: #64676A ;
    margin-left: 10px;
}
.about-me:hover{
    color:#FFBF13 ;
    text-decoration:underline;
    transition: 0.3s;
}
.logo1{
    margin-right: 10px;
}
.inner_container{
    margin-left: 120px;
}
.upper_container{
    margin-top: 22px;
    margin-left: 120px;
}
.homepage{
    display: flex;
    justify-content: center;
    background-color: white;
}

@media (min-width:310px) and (max-width:1024px) {
    .sideblock{
        display: none;
    }
}
@media (min-width:1025px) and (max-width:1200px){
    .sideblock{
        width: 30%;
    }
  }
  
