table.table {
  width: 90%;
  border: 1px solid grey;
  border-collapse: collapse;
  border-style: hidden;
  border-top: none;
  border-left: none;
  margin-left: 63px;
  margin-top: 53px;
  padding: 0px 5px;
}

table td {
  border-left: 1px solid grey;
  // padding: 3px;
  width: 74px;
  height: 34px;
  text-align: center;
  background-color: #ececec40;
}
table th {
  border: none;
}
.date_res {
  font-size: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #6c7074;
}
.time_res {
  margin-left: 15px;
  margin-top: 35px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #6c7074;
  position: absolute;
}
.mt {
  margin-top: 20px;
}
.reser_teach {
  margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  text-align: center;

  color: #93979b;
}
.reser_date {
  font-style: normal;
  margin-top: 10px;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #93979b;
}
.in_table {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  color: #ffbf13;
}

