.user_block {
  display: flex;
  // position: absolute;
  width: 967px;
  height: 700px;
  margin-top: 93px;
  margin-left: 353px;
  border-radius: 25px;
  background-color: white;
}
.inner_block {
  // display: flex;
  width: 573px;
  height: 380px;
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 20px;
  // margin-bottom: 35px;
  margin-left: 20px;
  background-color: #fbfcfe;
}
.name_block {
  width: 150px;
  height: 56px;
  margin-top: 44px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  color: #1c1c1c;
  float: left;
  margin-left: 22px;
}
#avauser {
  margin-left: 35px;
  margin-top: 35px;
  float: left;
}
.edit_block {
  width: 213px;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  text-decoration: none;
  color: #505050;
  cursor: pointer;
  margin-left: 22px;
}
.edit_block:hover {
  color: #ffbf13;
  text-decoration: underline;
  transition: 0.3s;
}
#edit_btn {
  margin-right: 11px;
}
.third_block {
  // display:
  //  flex;
  // position: absolute;
  width: 503px;
  margin-top: 30px;
  margin-right: 35px;
  float: left;
}
.nm-txt {
  margin-top: 10px;
  margin-right: 440px;
  margin-bottom: 5px;
  margin-left: 35px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.2px;
  color: #cccccc;
}
.nm-txt2 {
  margin-top: 45px;
  margin-bottom: 5px;
  margin-right: 440px;
  margin-left: 35px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.8px;
  color: #cccccc;
}
.nm-txt3 {
  margin-top: 20px;
  margin-right: 440px;
  margin-left: 35px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.8px;
  color: #cccccc;
}
.npt-txt {
  width: 430px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  // margin-top:px;
  border-color: #ffbf13;
  margin-left: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #595959;
  background-color: #fbfcfe;
  // position: absolute;
}
.reg_npt {
  width: 264px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top: -9px;
  border-color: #ffbf13;
  margin-left: 35px;
  font-weight: 400;
  background-color: #fbfcfe;
  font-size: 18px;
  line-height: 21.6px;
}
.contact_block {
  // display: flex;
  // margin: 20px;
  // margin-left: 20px;
  margin-top: 350px;
  padding: 1px;
  width: 573px;
  height: 245px;
  background-color: #fbfcfe;
  border-radius: 25px;
}
.region_block {
  margin-top: 20px;
  width: 334px;
  height: 245px;
  margin-left: 20px;
  border-radius: 25px;
  background-color: #fbfcfe;
}
.teach_list_block {
  width: 967px;
  height: 812px;
  margin-top: 93px;
  margin-left: 353px;
  border-radius: 25px;
  background-color: #ffff;
}
.drop_block {
  position: absolute;
  width: 917px;
  height: 65px;
  margin-left: 25px;
  margin-top: 25px;
  background-color: #f6fafc;
  border-radius: 25px;
}
.drop {
  // position: absolute;
  width: 138px;
  height: 35px;
  background-color: #ffffff;
  border-radius: 17.5px;
  margin-top: 15px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.list_block {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 917px;
  height: 672px;
  margin-top: 115px;
  margin-left: 25px;
  background-color: #f6fafc;
  border-radius: 25px;
}
.teach_list {
  width: 200px;
  height: 300px;
  background-color: #ffffff;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 25px;
}
.teach_img {
  // margin-left: 15px;
  margin-top: 15px;
  width: 169px;
  height: 205px;
}
.teach_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  text-align: center;
}
.teach_name {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  margin-top: 110px;
  color: #ffffff;
}
.teach_about {
  position: absolute;
  width: 150px;
  // height: 45px;
  font-weight: 100;
  font-size: 4px;
  line-height: 14px;
  text-align: center;
  margin-top: 135px;
  // margin-left: 30px;
  color: #ffffff;
}
.teach_subj {
  position: absolute;
  margin-top: 205px;
  background-color: #31f7f7;
  width: 100px;
  height: 30px;
  border-radius: 30px;
}
.teach_btn {
  width: 142px;
  height: 32px;
  background-color: #ffbf13;
  margin-top: 30px;
  border-radius: 25px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
.teach_btn_txt {
  color: white;
  margin-top: 7px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
