.user_block {
  display: flex;
  // position: absolute;
  width: 967px;
  height: 700px;
  margin-top: 93px;
  margin-left: 353px;
  border-radius: 25px;
  background-color: white;
}
.inner_block {
  // display: flex;
  width: 573px;
  height: 380px;
  border-radius: 25px;
  margin-left: 20px;
  margin-top: 20px;
  // margin-bottom: 35px;
  margin-left: 20px;
  background-color: #FBFCFE
  ;
}
.name_block {
  width: 150px;
  height: 56px;
  margin-top: 44px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.13px;
  color: #1c1c1c;
  float: left;
  margin-left: 22px;
}
#avauser {
  margin-left: 35px;
  margin-top: 35px;
  float: left;
}
.edit_block {
  width: 213px;
  height: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  text-decoration: none;
  color: #505050;
  cursor: pointer;
  margin-left: 22px;
}
.edit_block:hover {
  color: #ffbf13;
  text-decoration: underline;
  transition: 0.3s;
}
#edit_btn {
  margin-right: 11px;
}
.third_block {
  // display:
  //  flex;
  // position: absolute;
  width: 503px;
  margin-top: 30px;
  margin-right: 35px;
  float: left;
}
.nm-txt {
  margin-top: -10px;
  margin-right: 440px;
  margin-left: 35px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13.2px;
  color: #cccccc;
}
.nm-txt2 {
  margin-top: 45px;
  margin-right: 440px;
  margin-left: 35px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.8px;
  color: #cccccc;
}
.nm-txt3 {
  margin-top: 20px;
  margin-right: 440px;
  margin-left: 35px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.8px;
  color: #cccccc;
}
.npt-txt {
  width: 430px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  // margin-top:px;
  border-color: #ffbf13;
  margin-left: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: #595959;
  // position: absolute;
}
.reg_npt{
  width: 264px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-top: -9px;
  border-color: #ffbf13;
  margin-left: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}
.contact_block{
  // display: flex;
  // margin: 20px;
  // margin-left: 20px;
  margin-top: 350px;
  padding: 1px;
  width: 573px;
  height: 245px;
  background-color: #FBFCFE;
  border-radius: 25px;
}
.region_block{
 margin-top: 20px;
 width: 334px;
 height: 245px;
 margin-left: 20px;
 border-radius: 25px;
}
