.reg-block {
  width: 35%;
  padding: 25px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
.required__field{ 
  color: red;
}
.up_block{
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 25px;
}
.reg-text-block {
  margin: 0 auto;
}
.reg-text {
  width: 100%;
  height: 38px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38.4px;
  color: #2d2d2d;
}
.input-form-block {
  margin-bottom: 20px;
}
.npt-txt {
  width: 90%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #CCCCCC !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #595959;
  border-radius: 0;
  background-color: white !important;
}
.npt-txt:hover {
  border-color: #ffbf13 !important;
}
.npt-txt:focus {
  border-color: #ffbf13 !important;
  outline: 0;
}
.npt-txt-errors {
  border-color: #D0021B !important;
}
.data-picker:hover {
  border-color: #ffbf13 !important;
}
.ant-picker-focused {
  border-color: #ffbf13 !important;
}
.data-picker-error {
  border-color: #D0021B !important;
}
.error-message {
  font-size: 13px;
  color: #D0021B;
  margin: 0;
}
.upload-photo:hover {
  border-color: #ffbf13 !important;
  color: #ffbf13 !important;
}
.phone-input {
  width: 90%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #CCCCCC !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #595959;
  border-radius: 0;
  background-color: white !important;
}
.nm-txt {
  font-weight: 400;
  font-size: 13px;
  line-height: 15.8px;
  color: #cccccc;
}
.nm-txt2 { 
  font-weight: 400;
  font-size: 13px;
  line-height: 15.8px;
  color: #cccccc;
}
.nm-txt3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 15.8px;
  color: #cccccc;
}
.dropdown-select {
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #595959;
}
.reg-end {
  width: 100%;
  height: 48px;
  margin-top: 25px;
  background-color: #ffbf13;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
}
.form-check{
  margin-top: 25px;
}
.form-check-label {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  color: #989898;
}
.react-tel-input .form-control {
  width: 90% !important;
}
.no_account_block {
  display: flex;
  flex-direction: row;
}
.no_account_block p {
  margin-right: 0.5em;
}
.already_account_block {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}
.already_account_block p{
  margin-right: 0.5em;
}
@media screen and (max-width: 480px) {
  .reg-block{
    width: 100%;
  }
  .npt-txt {
    width: 100%;
  }
  .dropdown-select{
    width: 100%;
  }
  .reg-text {
    font-size: 22px;
  }
  .reg-block {
    width: 60%;
  }
}
@media screen and (max-width: 481px) {
  .reg-block {
    width: 90%;
  }
}
@media (min-width: 481px) and (max-width: 830px) {
  .npt-txt {
    width: 90%;
  }
  .reg-text {
    font-size: 22px;
  }
  .reg-block {
    width: 70%;
  }
}
@media (min-width: 831px) and (max-width: 1024px) {
  .npt-txt {
  }
  .reg-block {
    width: 60%;
  }
}
